.button {
    border-radius: 6px;
    padding: 8px 30px;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
    border: none; 
    color: #ffffff;
    background: #657167;
    &:hover {
        background: #E5969D;
    }
}

// .accent {
//     background: #657167;
//     &:hover {
//         background: #E5969D;
//     }
// }
