.cardButton{
    border-radius: 3px;
    background: #657167;
    color: #ffffff;
    padding: 20px;
    border: none;
    cursor: pointer;
    text-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    &:hover {
        background: #E5969D;
    }

}