.item {
    width: 100%;

    .header {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
    }

    .body {
        display: flex;
        gap: 10px;

        .date {
            color: rgba(225, 225, 225, 0.40);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .text {
            color: rgba(225, 225, 225, 0.60);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            overflow: hidden;
        }
    }
}


